html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  font-family: IBM Plex Mono, Courier, monospace;
  font-style: normal;
  font-weight: 400;
}
.about-me {
  width: 100%;
  min-width: 1400px;
  height: 765px;
  margin: 0 auto;
  background: url(../recources/My\ photo.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}
.nav-section {
  position: relative;
  width: 1200px;
  margin: 0 auto 0 auto;
}
.logo-link {
  position: absolute;
  /* display: inline-block; */
  width: 150px;
  height: 42px;
  top: 36px;
  left: 7px;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.11em;
  text-transform: uppercase;
  color: #1bff07;
  background-color: #000;
  border-radius: 100px;
}
.nav-container {
  /* display: inline; */
  margin: 0 auto;
  padding-top: 33px;
  margin-left: 650px;
}
.nav {
  display: inline;
  margin-top: 6px;
  width: 420px;
  height: 23px;
  vertical-align: baseline;
}
.nav-link {
  margin-right: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.nav-link:nth-last-child(1) {
  margin-right: 0px;
}
.nav-link:hover {
  color: #1bff07;
  /* opacity: 0.5; */
}
.text-about-me {
  width: 1400px;
  margin: 0 auto;
}
.introduction {
  width: 430px;
  height: 103px;
  margin-top: 281px;
  margin-left: 125px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
h1 {
  width: 919px;
  height: 205px;
  margin-top: 27px;
  margin-left: 119px;
  font-size: 80px;
  line-height: 70px;
  letter-spacing: -0.03em;
  color: #1bff07;
}
main {
  width: 1150px;
  margin: 0 auto;
  font-weight: 400;
}
h2 {
  margin-top: 150px;
  margin-bottom: 40px;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.project {
  position: relative;
  width: 1150px;
  height: 550px;
  border-radius: 30px;
}

.project-head {
  position: absolute;
  top: 410px;
  left: 50px;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.text-project {
  position: absolute;
  top: 461px;
  left: 50px;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
/* .project :nth-last-child(1) {
  background: url(../recources/Glass.png);
} */
.button-services {
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  width: 582px;
  height: 153px;
  margin-top: 80px;
  margin-bottom: 150px;
  padding-top: 56px;
  padding-bottom: 58px;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: #000;
  background-color: #1bff07;
}
.button-services:hover {
  color: #1bff07;
  background-color: #000;
  border: 2px solid #1bff07;
}

.my-competencies {
  margin-bottom: 150px;
}
.competencies {
  /* position: relative; */
  width: 788px;
  height: auto;
  /* height: 234px; */
  margin-bottom: 60px;
}
h2.head-competencies {
  margin-bottom: 48px;
  color: #ffffff;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.icon {
  width: 45px;
  height: 44px;
  border-radius: 10px;
  margin-bottom: 16px;
  /* background-color: #1bff07; */
}
.head-competencies {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 46px;
  /* identical to box height */
  letter-spacing: -0.03em;
  color: #1bff07;
}
h2.head-services {
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.text-competencies {
  width: 778px;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.service {
  width: 1150px;
  height: 483px;
  margin-top: 74px;
}
.image-service {
  border-radius: 30px;
}
.information-service {
  width: 1150px;
  height: 283px;
  background-color: #191c19;
  border-radius: 30px;
}
.head-service {
  padding-top: 40px;
  margin-left: 40px;
  margin-bottom: 15px;
  font-size: 55px;
  line-height: 72px;
  /* identical to box height */
  letter-spacing: -0.03em;
  color: #1bff07;
}
.text-service {
  width: 749px;
  height: 116px;
  margin-left: 40px;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.service:nth-last-child(1) {
  margin-top: 137px;
}
.contacts {
  /* width: 100%; */
  /* min-width: 1400px; */
  width: 1400px;
  height: 717px;
  margin: 150px auto 150px auto;
  background: #191c19;
  border-radius: 30px;
  background-image: url(../recources/background-contacts\ half.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
h2.head-contacts {
  padding-top: 320px;
  margin-left: 125px;
  margin-bottom: 28px;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.contacts-link {
  margin-left: 125px;
  margin-top: 20px;
  font-size: 60px;
  line-height: 80px;
  /* identical to box height, or 100% */
  letter-spacing: -0.03em;
  color: #ffffff;
}
.contacts-link:hover {
  color: #1bff07;
}
footer {
  width: 100%;
  min-width: 1400px;
  height: 289px;
  margin: 0 auto;
  font-family: "Manrope";
  font-style: normal;
  background: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.footer-container {
  width: 1400px;
  height: 289px;
  margin: 0 auto;
}
.portfolio {
  width: 542px;
  height: 30px;
  padding-top: 76px;
  margin-left: 125px;
  margin-bottom: 66px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #000000;
}
.rights {
  width: 241px;
  height: 27px;
  margin-top: 66px;
  margin-left: 125px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.5;
}
